<h2>User info</h2>
<%= image_tag user.get_profile_image(100, 100) %>
<table class="table">
  <tr>
    <td>name</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <td>
      <%= link_to user == current_user ? edit_user_path(user) :  user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </td>
  </tr>
</table>

<%= form_with model: book do |f| %>
  <h2>New book</h2>
  <p>Title</p>
  <%= f.text_field :title, class: "form-control" %>
  <p>Opinion</p>
  <%= f.text_area :body, class: "form-control" %></br>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>
