<h1>Users info</h1>
<%= form_with model: @user do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>introduction</p>
  <%= f.text_area :introduction %></br>
  <%= f.submit 'Update User' %>
<% end %>
