<%= render 'users/profile&post', user: @user %>
<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <td><%= link_to "Edit" %></td>
        <td><%= link_to "Destroy" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
